<div class="container-fluid">

<h1>Order Confirmation Page</h1>

<br>

  


    <div class="row">
      <div class="col-sm-4">
        <div id="name_and_price">
          <hr>
          <% @carted_products.where(order_id: @order_id).each do |ordered_product| %>
            <h3>Product Name: <%=@products.find_by(id: ordered_product.product_id).product_name %></h3>
            <h3>Quantity: <%= ordered_product.quantity %></h3>
            <hr>
          <% end %>
  
        </div>
      </div>

      <div class="col-sm-4">

      </div>

      <div class="col-sm-4">
      </div>
      </div>

</div>